Repository unsignedapps/Vexil, pull requests merged in 2020-10, with the labels that each got.

#58 Added support for displaying FlagGroups as Sections in Vexillographer
  Sources/Vexil/Group.swift
  Sources/Vexillographer/FlagSectionView.swift
  Sources/Vexillographer/Unfurling/UnfurledFlagGroup.swift
Labels: enhancement, patch, vexillographer

#59 Highlighted flags in Vexillographer that have overridden values.
  Sources/Vexillographer/DetailButton.swift
  Sources/Vexillographer/Flag Value Controls/BooleanFlagControl.swift
  Sources/Vexillographer/Flag Value Controls/CaseIterableFlagControl.swift
  Sources/Vexillographer/Flag Value Controls/OptionalCaseIterableFlagControl.swift
  Sources/Vexillographer/Flag Value Controls/StringFlagControl.swift
  Sources/Vexillographer/FlagValueManager.swift
Labels: enhancement, patch, vexillographer

#60 Updated docs
  docs/api/flaggroup/index.html
  docs/api/flaggroup_display/index.html
  docs/api/index.xml
  docs/index.html
  docs/index.xml
  docs/sitemap.xml
  website/content/guides/.gitkeep
Labels: documentation, skip:changelog

#61 Vexillographer Mac UI Uplift
  Sources/Vexillographer/Bindings/Binding.swift
  Sources/Vexillographer/DetailButton.swift
  Sources/Vexillographer/Extensions/NSApplication+Sidebar.swift
  Sources/Vexillographer/Flag Value Controls/BooleanFlagControl.swift
  Sources/Vexillographer/Flag Value Controls/CaseIterableFlagControl.swift
  Sources/Vexillographer/Flag Value Controls/OptionalCaseIterableFlagControl.swift
  Sources/Vexillographer/Flag Value Controls/StringFlagControl.swift
  Sources/Vexillographer/FlagDetailView.swift
  Sources/Vexillographer/FlagDisplayValueView.swift
  Sources/Vexillographer/FlagGroupView.swift
  Sources/Vexillographer/FlagSectionView.swift
  Sources/Vexillographer/FlagValueManager.swift
  Sources/Vexillographer/FlagView.swift
  Sources/Vexillographer/Unfurling/Unfurlable.swift
  Sources/Vexillographer/Unfurling/UnfurledFlag.swift
  Sources/Vexillographer/Unfurling/UnfurledFlagGroup.swift
  Sources/Vexillographer/Unfurling/UnfurledFlagInfo.swift
  Sources/Vexillographer/Unfurling/UnfurledFlagItem.swift
  Sources/Vexillographer/Vexillographer.swift
Labels: enhancement, minor, vexillographer

#62 Improve Detail Button behaviour in iOS forms
  Sources/Vexillographer/DetailButton.swift
Labels: enhancement, patch, vexillographer

#64 Improve "Clear Flag" button with animation instead of removal
  Sources/Vexillographer/FlagDetailView.swift
Labels: enhancement, patch, vexillographer
